
<app-my-header name="Laboratorna robota 4"> </app-my-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
      <p>
        Скласти програму з абстрактним батьківським класом і двома об'єктами -
        нащадками. Реалізувати циклічне виведення параметрів об'єктів,
        використовуючи поліморфний контейнер - масив об'єктів базового класу.
        Реалізувати метод знаходження висоти будівлі та визначення типу
        будівлі з найбільшою висотою.
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="number" value="5" #Inputn></ion-input>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <p
        *ngFor="let b of buildings"
        [ngStyle]="{color:getColor(b.heightt)}"
      >
        {{b.show()}}
      </p>
    </ion-card-content>
</ion-card>
</ion-content>

