
<app-my-header name="Laboratorna robota 1"> </app-my-header>
<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-header> 
      <ion-card-title>Taks2</ion-card-title> 
  </ion-card-header>
  <ion-card-content>
    <p class="p_background">Згенерувати матрицю розміром NxN. Знайти суму кожного рядка матриці. Виокремити рядки за допомогою кольору.</p>
    <ion-item>
      <ion-label position="floating">N</ion-label>
      <ion-input type="number" id="a" value="5" #Inputn></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="arrayras(Inputn.value)">Create array</ion-button>
    <ion-item>
      <ion-grid>
        <ion-row *ngFor="let i of a; let aa=index" [ngStyle]="{backgroundColor: getColor(aa)}">
          <ion-col *ngFor="let j of i"  >{{j}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row *ngFor="let i of a; let aa=index" [ngStyle]="{backgroundColor: getColor(aa)}">
          <ion-col >{{sum(i)}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card-content>  
</ion-card>
</ion-content>