<app-my-header name="Laboratorna robota 1"> </app-my-header>

<ion-content [fullscreen]="true">
<ion-card> 
  <ion-card-header> 
    <ion-card-title>Taks1</ion-card-title> 
</ion-card-header> 
<ion-card-content> 
  <p class="p_background">Задано три числа. Знайти кількість тих з них, які кратні 27.</p>
    <ion-item> 
      <ion-label position="floating">first number</ion-label> 
      <ion-input type="number" id="a" value="1" #Inputa></ion-input>
     </ion-item> 
     <ion-item> 
       <ion-label position="floating">second number</ion-label>
       <ion-input type="number" id="b" value="2" #Inputb></ion-input> 
     </ion-item> 
     <ion-item> 
       <ion-label position="floating">third number</ion-label> 
       <ion-input type="number " id="c" value="3" #Inputc></ion-input> 
     </ion-item> 
     <ion-button expand="block" (click)="ras(Inputa.value, Inputb.value, Inputc.value)">Result</ion-button>
      <ion-item> 
       <p>Result {{d}}</p> 
      </ion-item> 
    </ion-card-content> 
  </ion-card> 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Laboratorna robota 1</ion-title>
  </ion-toolbar>
</ion-footer>

